{% load static %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}">
    <title>TPP Solar</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/feather.css' %}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static 'css/monthSelect.css' %}" id="lightTheme">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/plugins/monthSelect/index.js"></script>
    {% block heads%}
    {% endblock%}
</head>

<body class="vertical  light">
    <div class="wrapper">
        {% include 'navbar/right.html' %}
        {% include 'navbar/left.html' %}

        <main role="main" class="main-content">
            {% block main %}
            {% endblock main %}
        </main> <!-- main -->
    </div> <!-- .wrapper -->
    <!-- Old calendar -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src="{% static 'js/jquery.stickOnScroll.js' %}"></script>
    <script src="{% static 'js/tinycolor-min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/topojson.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/apps.js' %}"></script>


    <script src="{% static 'js/gauge.min.js' %}"></script>
    <script src="{% static 'js/jquery.sparkline.min.js' %}"></script>

    <script src="{% static 'js/modal.js' %}"></script>

    {% block scripts %}

    {% endblock %}

</body>

</html>