{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Month and Date Pickers</title>
    <!-- Include Bootstrap CSS and JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>
    <link rel="stylesheet" href="{% static 'css/monthSelect.css' %}" id="lightTheme">

</head>

<body>
    <input type="text" id="month-picker" name="month-picker" placeholder="Select month">

</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr("#month-picker", {
            plugins: [new monthSelectPlugin({ shorthand: true, dateFormat: "m/Y" })],
            allowInput: true,
            // Additional options if needed
        });
    });;

</script>

</html>