{% extends 'base.html' %}

{% block main %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="mb-2 page-title">Список инверторов</h2>
            <p class="card-text"> </p>
            <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <!-- table -->
                            <table class="table datatables" id="dataTable-1">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Название</th>
                                        <th>Модель</th>
                                        <th>Серийный номер</th>
                                        <th>Температура</th>
                                        <th>Всего выработано</th>
                                        <th>Выработка за сегодня</th>
                                        <th>Время работы</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for inverter in inverters_data %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ inverter.name }}</td>
                                        <td>{{ inverter.registers }}</td>
                                        <td><a href="{% url 'inverter' serial_number=inverter.serial_number %}">{{ inverter.serial_number }}</a></td>
                                        <td>{{ inverter.inverter_registers_data.temperature.data }} ℃   </td>
                                        <td>{{ inverter.inverter_registers_data.total_generate_energy.data }} кВт*ч</td>
                                        <td>{{ inverter.inverter_registers_data.today_generate_energy.data }} Вт*ч</td>
                                        <td>{{ inverter.inverter_registers_data.work_time_total.data }} ч</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- simple table -->
            </div> <!-- end section -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->
{% endblock main %}   
