{% load static %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}">
    <title>TPP Solar</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/feather.css' %}">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static 'css/app-dark.css' %}" id="darkTheme" disabled>
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static 'css/monthSelect.css' %}" id="lightTheme">

    <!-- <script src="{% static 'css/flatpickr.min.css' %}"></script> -->
    <script src="{% static 'js/flatpickr.min.js' %}"></script>
    <script src="{% static 'js/monthSelect.js' %}"></script>
    {% block heads%}
    {% endblock%}
</head>

<body class="horizontal  light">
    <div class="wrapper">
        {% include 'navbar/panel_left.html' %}

        <main role="main" class="main-content">
            {% block main %}
            {% endblock main %}
        </main> <!-- main -->
    </div> <!-- .wrapper -->
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src="{% static 'js/jquery.stickOnScroll.js' %}"></script>
    <script src="{% static 'js/tinycolor-min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/topojson.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/apps.js' %}"></script>


    <script src="{% static 'js/jquery.sparkline.min.js' %}"></script>

    <script src="{% static 'js/modal.js' %}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
  
        function gtag()
        {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-56159088-1');
      </script>

    {% block scripts %}

    {% endblock %}

</body>

</html>