{% extends 'base.html' %}
{% load static %}

{% block heads%}
<link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
{% endblock%}
{% block main %}
  {% include 'components/plant_inverters.html' %}
  {% include 'widgets/charts.html' %}
 
{% endblock main %}   

{% block scripts %}
<script>
  setInterval(function() {
            window.location.reload();
        }, 5 * 60 * 1000);
</script>
<script src="{% static 'js/apexcharts.min.js' %}"></script>
<script src="{% static 'js/apexcharts.custom.js' %}"></script>
<script src="{% static 'js/flatpickr.min.js' %}"></script>

{% endblock %}