{% extends 'base.html' %}
{% load static %}

{% block heads%}
<link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
{% endblock%}
{% block main %}
<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="row align-items-center my-4">
          <div class="col">
            <h2 class="h3 mb-0 page-title">Станции</h2>
          </div>
          <!-- <div class="col-auto">
            <button type="button" class="btn btn-primary"><span class="fe fe-plus fe-12 mr-2"></span>Добавить</button>
          </div> -->
        </div>
        <div class="row">
          {% for plant in plants%}
          <div class="col-md-2">
            <a href="{% url 'plant_detail' plant.pk %}" class="text-decoration-none card-link">
                
              <div class="card shadow mb-4 hover-card">
                <!-- Card Header for Cover Image -->
                <div class="card-header p-0">
                  <img src="{{ plant.image.url }}" alt="Cover Image" class="img-fluid rounded-top">
                </div>
                <div class="card-body text-center"> 
                  <div class="card-text my-2">
                    <strong class="card-title my-0"><h4>{{ plant.name }}</h4></strong>
                    <p class="small text-muted mb-0"><span class="badge badge-info">{{ plant.power }} кВт</span></p>
                    <p class="small">
                      <span class="badge badge-light text-muted">{{ plant.city }}</span>
                    </p>
                  </div>
                </div> <!-- ./card-body -->
              </div> <!-- ./card -->
            </a>
          </div> <!-- .col -->
          {% endfor %}
        </div> <!-- .row -->
      </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </div>
{% endblock main %}