{% load static %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row align-items-center mb-2">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="card shadow">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-3 text-center">
                      <span class="circle circle-sm">
                        <img src="{% static 'assets/images/factory.png' %}" alt="icon" class="img-fluid"
                          style="max-width: 100%; height: auto;">
                      </span>
                    </div>
                    <div class="col pr-0">
                      <p class="small text-muted mb-0">Проектная мощность</p>
                      <span class="h3 mb-0">{{total_power}} кВт</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card shadow">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-3 text-center">
                      <span class="circle circle-sm">
                        <img src="{% static 'assets/images/total.png' %}" alt="icon" class="img-fluid"
                          style="max-width: 100%; height: auto;">
                      </span>
                    </div>
                    <div class="col">
                      <p class="small text-muted mb-0">Всего выработано</p>
                      <div class="row align-items-center no-gutters">
                        <div class="col-auto">
                          <span class="h3 mr-2 mb-0">{{ total_generate_energy }} кВт</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card shadow">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-3 text-center">
                      <span class="circle circle-sm">
                        <img src="{% static 'assets/images/day.png' %}" alt="icon" class="img-fluid"
                          style="max-width: 100%; height: auto;">
                      </span>
                    </div>
                    <div class="col pr-0">
                      <p class="small text-muted mb-0">Общая выработка за день</p>
                      <span class="h3 mb-0">{{ total_today_generate_energy }} кВт</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card shadow">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-3 text-center">
                      <span class="circle circle-sm">
                        <img src="{% static 'assets/images/current.png' %}" alt="icon" class="img-fluid"
                          style="max-width: 100%; height: auto;">
                      </span>
                    </div>
                    <div class="col">
                      <p class="small text-muted mb-0">Текущая выработка</p>
                      <span class="h3 mb-0">{{ total_current_power }} Вт</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-4">
              <div class="card shadow">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col pr-0">
                      <div class="card-body">
                        <!-- table -->
                        <table class="table table-hover table-borderless border-v">
                          <thead class="thead-dark">
                              <tr>
                                  <th>№</th>
                                  <th>Объект</th>
                                  <th>Мощность (проект.)</th>
                                  <th>Всего вырабатано</th>
                                  <th>Выработка за день</th>
                                  <th>Подробнее</th>
                              </tr>
                          </thead>
                          <tbody>
                            <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                <td>1</td>
                                <td>2020-09-12 11:21:03</td>
                                <td>3951</td>
                                <td>1</td>
                                <td>2020-09-12 11:21:03</td>
                                <td>3951</td>
                            </tr> 
                            <tr>
                                <td colspan="6" class="hiddenRow" style="padding: 0 !important;">
                                    <div class="collapse" id="demo1">
                                      <table class="table table-borderless mb-0">
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Google</td>
                                                <td>U$8.00000</td>
                                                <td>2016/09/27</td>
                                                <td>2017/09/27</td>
                                                <td>
                                                    <a href="#" class="btn btn-default btn-sm">
                                                        <i class="glyphicon glyphicon-cog"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        
                      </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <div id="container" style="position: relative; width: 100%; height:100%;"></div>
            </div>
          </div>
        </div>
      </div> <!-- .row -->
    </div>
  </div>
</div>
{% include 'components/datamaps.html' %}