{% load static %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-lg-12 mb-4">
                    <div class="card shadow">
                        <div class="card-header">
                            <strong class="card-title mb-0">Column Chart</strong>
                        </div>
                        <div class="card-body">
                            <div id="columnChart"></div>
                        </div> <!-- /.card-body -->
                    </div> <!-- /.card -->
                </div> <!-- /. col -->
            </div> <!-- end section -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->