{% load static %}
{% load humanize %}
<style>
  /* Custom Tooltip Styles */
  .tooltip {
    max-width: none;
    /* Remove width limit */
    font-size: 1.2em;
    /* Increase font size */
    padding: 10px;
    /* Add padding */
  }
</style>
<div class="container-fluid mt-10">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row align-items-ceneter mb-2">
        <div class="col-md-12 mb-4">
          <div class="card shadow">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-md-6"> 
                  <div class="container">
                    <div class="row ">
                        <div class="col-xl-6 col-lg-6">
                            <div class="card l-bg-cherry">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0" style = "color:#fff ">Проектная мощность</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0" style = "color:#fff ">
                                              {{ total_power|floatformat:2|intcomma }} кВт
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="card l-bg-blue-dark">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0" style = "color:#fff ">Выработано (за все время)</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0" style = "color:#fff ">
                                              {{ total_generate_energy|floatformat:2|intcomma }} МВт
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                        <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="card l-bg-green-dark">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0" style = "color:#fff ">Выработано (сегодня)</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0" style = "color:#fff ">
                                              {{ total_today_generate_energy|floatformat:2|intcomma }} кВт
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                        <div class="progress-bar l-bg-orange" role="progressbar" data-width="100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 35%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="card l-bg-orange-dark">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0" style = "color:#fff ">Текущая выработка</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0" style = "color:#fff ">
                                              {{ total_current_power|intcomma }} кВт
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                </div>
                <!-- Right Column -->
                <div class="col-md-6 mb-4">
                  <div id="container" class="chart-container"></div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <div class="row align-items-center my-4">
                      <!-- Optionally add controls here -->
                    </div>
                    <div class="row justify-content-center">
                      {% for plant in plants_grid %}
                      <div class="col-md-2 col-sm-4 col-6 mb-4 d-flex justify-content-center">
                        <a href="{% url 'panel_detail' plant.id %}" class="text-decoration-none card-link">
                          <div class="card shadow hover-card">
                            <!-- Card Header for Cover Image -->
                            <div class="card-header p-0">
                              <img src="{{ plant.image.url }}" alt="" class="img-fluid rounded-top">
                            </div>
                            <div class="card-body text-center">
                              <div class="card-text my-2">
                                <strong class="card-title my-0">
                                  <h4>{{ plant.name }}</h4>
                                </strong>
                                <p class="small text-muted mb-0">
                                  <span class="badge badge-info">{{ plant.power }} кВт</span>
                                </p>
                                <p class="small">
                                  <span class="badge badge-light text-muted">{{ plant.city }}</span>
                                </p>
                              </div>
                            </div> <!-- ./card-body -->
                          </div> <!-- ./card -->
                        </a>
                      </div>
                      {% endfor %}
                    </div> <!-- .row -->
                  </div> <!-- .col-12 -->
                </div> <!-- .row -->
              </div> <!-- .container-fluid -->
              
             
              <div class="row"style="align-items: center;">
                <div class="col-md-12" style="align-items: center;">
                  <!-- table -->
                  <div class="row">
                    <div class="col-12">
                      <div class="card-body">
                        <table class="table table-bordered">
                          <thead>
                            {% for plant in plants %}
                            <tr role="group" data-toggle="collapse" data-target="#demo{{ plant.id }}"
                              class="accordion-toggle bg-white">
                              <td style="background-color: #17a2b8;">
                                <dl class="row mb-0">
                                  <dt class="col-sm-12 text-center">
                                    <h4 style="color:#fff">{{ plant.name }}</h4>
                                  </dt>
                                </dl>
                              </td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr role="group" data-toggle="collapse" data-target="#demo{{ plant.id }}"
                              class="accordion-toggle bg-white">
                              <td colspan="10">
                                  <div class="row justify-content-center">
                                    <div class="col-auto text-center">
                                      <p class="mb-1 small text-bold">Количество инверторов</p>
                                      <span class="h4">{{ plant.inverter_count }}</span><br>
                                    </div>
                                    <div class="col-auto text-center">
                                      <p class="mb-1 small text-bold">Проектная мощность</p>
                                      <span class="h4">{{ plant.power }} кВт</span><br>
                                    </div>
                                    {% for d in all_data %}
                                    {% if d.location == plant.address and d.serial_number == "All" %}
                                    <div class="col-auto text-center">
                                      <p class="mb-1 small text-bold">Общая выработка</p>
                                      <span class="h4">{{d.total_generate_energy |floatformat:1|intcomma}}
                                        кВт</span><br>
                                    </div>
                                    <div class="col-auto text-center">
                                      <p class="mb-1 small text-bold">Суточная выработка</p>
                                      <span class="h4">{{d.today_generate_energy |floatformat:1|intcomma}}
                                        кВт</span><br>
                                    </div>
                                    <div class="col-auto text-center">
                                      <p class="mb-1 small text-bold">Текущая выработка</p>
                                      <span class="h4">{{d.current_power |floatformat:1|intcomma}} Вт</span><br>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                  </div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="10" class="p-0">
                                <div class="collapse" id="demo{{ plant.id }}">
                                  <table class="table w-100 mb-0">
                                    <thead class="bg-info text-white">
                                      <tr role="row">
                                        <th>Серийный номер</th>
                                        <th>Всего выработано</th>
                                        <th>Выработка за сегодня</th>
                                        <th>Текущая выработка</th>
                                        <th>Статус</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for inverter in inverters %}
                                      {% if inverter.plant.address|striptags|cut:" " == plant.address|striptags|cut:" "%}
                                      {% for d in all_data %} 
                                      {% if d.serial_number == inverter.serial %} 
                                      <tr>
                                        <td>{{ d.serial_number }}</td>
                                        <td>{{ d.total_generate_energy }} кВт</td>
                                        <td>{{ d.today_generate_energy }} кВт</td>
                                        <td>{{ d.current_power }} Вт</td>
                                        <td>
                                          <span class="badge badge-{% if d.status.data == "1" or d.status.data == "3"  %}success{% else %}secondary{% endif %}">
                                            {% if d.status.data == "1" %}
                                            Online
                                            {% elif d.status.data == "3" %}
                                            Offline
                                            {% else %}
                                            Unknown
                                            {% endif %}
                                        </span>
                                        </td>
                                      </tr>
                                      {% endif %}
                                      {% endfor %}
                                      {% endif %}
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .row -->
    </div>
  </div>
</div>