<div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="defaultModalLabel">Информация</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-5">
        <div class="info-panel">
          <div class="info-content p-0 hasStickOnScroll">
            <div class="d-flex align-items-center mb-3">
            </div>
            <div class="tab-content" id="file-tabs">
              <div class="tab-pane fade active show" id="detail" role="tabpanel" aria-labelledby="tab-detail">
                <dl class="row my-4 small">
                  <dt class="col-6 text-muted">Название:</dt>
                  <dd class="col-6" id="modalName"></dd>
                  <dt class="col-6 text-muted">Модель:</dt>
                  <dd class="col-6" id="modalModel"></dd>
                  <dt class="col-6 text-muted">Серийный номер:</dt>
                  <dd class="col-6" id="modalSerial"></dd>
                  <dt class="col-6 text-muted">Температура:</dt>
                  <dd class="col-6" id="modalTemperature"></dd>
                  <dt class="col-6 text-muted">Всего выработано:</dt>
                  <dd class="col-6" id="modalTotalEnergy"></dd>
                  <dt class="col-6 text-muted">Время работы (всего):</dt>
                  <dd class="col-6" id="modalWorkTime"></dd>
                  <dt class="col-6 text-muted">Выработка за сегодня:</dt>
                  <dd class="col-6" id="modalTodayEnergy"></dd>
                  <dt class="col-6 text-muted">Текущая выработка:</dt>
                  <dd class="col-6" id="modalCurrentPower"></dd>
                </dl>
              </div> <!-- .tab-pane -->
            </div> <!-- .tab-content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>