{% load static %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row align-items-center mb-2">
                <div class="col-5">
                    <h2 class="h5 page-title">Инверторы</h2>
                </div>
                <div class="col-7 d-flex align-items-center justify-content-end align-middle">
                    <div class="form-group d-none d-lg-inline mb-0">
                        <label for="reportrange" class="sr-only">Date Ranges</label>
                        <div class="px-2 py-2 text-muted">
                            <span class="small" id="date-range-text"></span>
                        </div>
                    </div>
                    <a href="/" id="refresh"><button type="button" class="btn btn-sm" ><span class="fe fe-refresh-ccw fe-16 text-muted"></span></button></a>
                    <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#varyModal" data-whatever="@mdo"><span class="fe fe-filter fe-16 text-muted"></span></button>
                </div>
            </div>
            
            
            <div class="row">
                {% for widget in widgets_serial %}
                {% for inverter in inverters_data %} 
                {% if inverter.serial_number == widget.serial %} 
                <div class="col-md-3">
                    <div class="card shadow mb-4 clickable-card" id="inverterModal" data-toggle="modal" data-target=".modal-shortcut"  data-name="{{ inverter.name }}"
                    data-model="{{ inverter.registers }}"
                    data-serial="{{ inverter.serial_number }}"
                    data-temperature="{{ inverter.inverter_registers_data.temperature.data }}"
                    data-total-energy="{{ inverter.inverter_registers_data.total_generate_energy.data }}"
                    data-work-time="{{ inverter.inverter_registers_data.work_time_total.data }}"
                    data-today-generate-energy="{{ inverter.inverter_registers_data.today_generate_energy.data }}"
                    data-current-power="{{ inverter.inverter_registers_data.current_power.data }}">
                    {% if widget.name == 'growatt' %}
                        <div class="card-body text-center">
                            <div class="avatar avatar-lg mt-4">
                                <img src="{% static 'assets/inverters/growatt.png' %}" alt="..." class="avatar-img rounded-circle">
                            </div>
                            <div class="card-text my-2">
                                <p class="medium"><strong class="card-title my-0"><span class="h3" style="text-transform: uppercase;">{{ inverter.name }}</span></strong></p>
                                <p class="medium"><strong class="card-title my-0"><span class="badge badge-info">{{ inverter.serial_number }}</span></strong></p>
                                <p class="medium text mb-0"><strong>Всего выработано - {{ inverter.inverter_registers_data.total_generate_energy.data }} кВт*ч</strong></p>
                                <p class="medium text mb-0"><strong>Время работы (всего) - {{ inverter.inverter_registers_data.work_time_total.data }} ч</strong></p>
                                <p class="medium text mb-0"><strong>Текущая выработка - {{ inverter.inverter_registers_data.current_power.data }} Вт</strong></p>
                            </div>
                        </div> <!-- ./card-text -->
                        {% include 'status/growatt.html' %}
                    
                    {% elif widget.name == 'solax' %}
                    <div class="card-body text-center">
                        <div class="avatar avatar-lg mt-4">
                            <img src="{% static 'assets/inverters/solax.png' %}" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="card-text my-2">
                            <p class="medium"><strong class="card-title my-0"><span class="h3" style="text-transform: uppercase;">{{ inverter.name }}</span></strong></p>
                            <p class="medium"><strong class="card-title my-0"><span class="badge badge-info">{{ inverter.serial_number }}</span></strong></p>
                            <p class="medium text mb-0"><strong>Всего выработано - {{ inverter.inverter_registers_data.total_generate_energy.data }} кВт*ч</strong></p>
                            <p class="medium text mb-0"><strong>Время работы (всего) - {{ inverter.inverter_registers_data.work_time_total.data }} ч</strong></p>
                            <p class="medium text mb-0"><strong>Текущая выработка - {{ inverter.inverter_registers_data.current_power.data }} Вт</strong></p>
                        </div>
                    </div> <!-- ./card-text -->
                    {% include 'status/solax.html' %}
                    
                    {% endif %}    
                    </div>
                </div> <!-- .col -->
                {% endif%}
                {% include 'components/info.html' %}
                {% endfor %}
                {% endfor %}
            </div> <!-- .row -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div>