{% load static %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-lg-12 mb-4">
                    <div class="card shadow">
                        <div class="card-header">
                            <strong class="card-title mb-0">Тренды</strong>
                            <div class="calendar-controls d-flex justify-content-center align-items-center mb-3">
                                <input type="date" id="datepicker" class="form-control  col-md-2 ">
                                <button id="prev-date" class="btn btn-primary mr-2">&lt;</button>
                                <button id="next-date" class="btn btn-primary mr-2">&gt;</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="lineChart" class="chart-container">
                                <div id="no-data-message" class="no-data-message">No data available</div>
                            </div>
                        </div> <!-- /.card-body -->
                    </div> <!-- /.card -->
                </div> <!-- /. col -->
            </div> <!-- end section -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-lg-12 mb-4">
                    <div class="card shadow">
                        <div class="card-header">
                            <strong class="card-title mb-0">Тренды</strong>
                            <div class="calendar-controls d-flex justify-content-center align-items-center mb-3">
                                <input type="date" id="datepicker" class="form-control  col-md-2 ">
                                <button id="prev-date" class="btn btn-primary mr-2">&lt;</button>
                                <button id="next-date" class="btn btn-primary mr-2">&gt;</button>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <div class="chart">
                                <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
                            </div>
                        </div>
                    </div> <!-- /.card -->
                </div> <!-- /. col -->
            </div> <!-- end section -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->

