.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
    background: linear-gradient(to right, #324249, rgb(9, 87, 160)) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #374442, #04ada4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #3c3d1a, #cdb718) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #314535, #3c9b62) !important; 
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #5ab4f5) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #16e77e 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #fdaa2d) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #44a7c0, #07dada) !important;
    color: #fff;
}