<div class="card-footer" style="border-top:3px solid {{ widget.color }};">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
            {% if inverter.data.status.data == '1' %}
            <small><span class="dot dot-lg bg-success mr-1"></span> Online </small>
            {% elif inverter.data.status.data == '0' %}
            <small><span class="dot dot-lg bg-secondary mr-1"></span> Waiting </small>
            {% elif inverter.data.status.data == '3' %}
            <small><span class="dot dot-lg bg-danger mr-1"></span> Fault </small>
            {% endif %}
        </div>
    </div>
</div> <!-- /.card-footer -->